#auth_qrcode-logo {
    max-width: 50%;
}

.qrcode-instructions {
    font-size: larger;
}

.qrcode-alert {
    font-size: larger;
    font-weight: bolder;
    color: red;
}

.qrcode-blured {
    filter: blur(10px);
}

.confirmation-message {
    font-size: larger;
}
